*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

:root{
    --top-header-bg-color: #add8e6;
    --top-header-box-color: #daa520;
    --bottom-header-bg-color: #00008b;
    --bottom-header-box-color: #ee82ee;
    --main-blue-box: #1e90ff;
    --main-pink-box: #ffc0cb;
    --main-big-box: #228b22;
    --grey-bg: #d3d3d3;
    --footer-bg-color: #23272a;
    --top-footer-box-1: #f08080;
    --top-footer-box-2: #20b2aa;
    --bottom-footer-box: #7fffd4;
    --bottom-footer-small-box: #ffb6c1;
}

.container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

.box-container{
    display: flex;
    padding: 20px 0;
}

.border{
    border: 2px dashed black;
}

.top-header{
    background-color: var(--top-header-bg-color);
}

.t-header-box-1{
    width: 20%;
    padding: 10px;
    background-color: var(--top-header-box-color);
}

.t-header-box-2{
    width: 60%;
    padding: 10px;
    background-color: var(--top-header-box-color);
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.login{
    text-align: end;
}

.bottom-header{
    background-color: var(--bottom-header-bg-color);
    display: flex ;
    justify-content: center;
    padding: 40px 0;
}

.box-small{
    width: 900px;
    height: 400px;
    background-color: var(--bottom-header-box-color);
}

.main-box{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.grey-bg{
    background-color: var(--grey-bg);
}

.blue-box{
    background-color: var(--main-blue-box);
    height: 450px;
    width: 60%;
}

.pink-box{
    background-color: var(--main-pink-box);
    height: 450px;
    width: 40%;
}

.main-big-box{
    background-color: var(--main-big-box);
    width: 100%;
    height: 850px;
}

.top-footer{
    background-color: var(--footer-bg-color);
    margin-bottom: 1px;
}

.footer-main-box{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0 40px 0;
}

.footer-small-box{
    background-color: var(--top-footer-box-1);
    height: 600px;
    width: 30%;
}

.footer-big-box{
    display: flex;
    height: 600px;
    width: 70%;
    background-color: var(--top-footer-box-2);
}

.footer-smaller-box{
    border: 2px dashed white;
    width: 25%;
}

.bottom-footer{
    background-color: var(--footer-bg-color);
    padding-top: 30px;
}

.footer-bottom-box{
    display: flex;
    background-color: var(--bottom-footer-box);
    width: 100%;
    justify-content: space-between;
    padding: 25px 0 ;
}

.footer-bottom-small-box{
    background-color: var(--bottom-footer-small-box);
    padding: 7px;
}